.input-form-box {
	min-width: 70vh;
	max-width: 100vh;
	display: grid;
	grid-template-areas:
		"name-label name-field"
		"url-label url-field"
		"description-label description-field"
		". button1"
		". button2";
	grid-template-columns: 100px auto;
	grid-template-rows: auto auto auto auto;
	row-gap: 10px;
	margin: auto;
}

input[type="text"] {
	border-radius: 10px;
}

#response {
	margin: auto;
}

#submit-new-button {
	border-radius: 10px;
	grid-area: button1;
}

#submit-id-button {
	border-radius: 10px;
	grid-area: button1;
}

#submit-all-button {
	border-radius: 10px;
	grid-area: button2;
}

#name-label {
	grid-area: name-label;
}

#name-field {
	grid-area: name-field;
}

#url-label {
	grid-area: url-label;
}

#url-field {
	grid-area: url-field;
}

#description-label {
	grid-area: description-label;
}

#description-field {
	grid-area: description-field;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	row-gap: 20px;
	padding-top: 50px;
	padding-bottom: 100px;
	background-color: rgb(245, 249, 247);
}

.rubber-ducky-main {
	position: relative;
	left: 10%;
	bottom: 90px;
	z-index: 5;
	max-width: 160px;
}

.rubber-ducky-head {
	width: 65px;
	height: 65px;
	border-top-left-radius: 45px;
	border-top-right-radius: 50px;
	border-bottom-right-radius: 47px;
	border-bottom-left-radius: 50px;
	background-color: #f5d142;
	position: relative;
	left: 70px;
	top: 15px;
	box-shadow: -2px 1px 3px #363432;
	z-index: 3;
	cursor: pointer;
}

.rubber-ducky-beak {
	width: 25px;
	height: 15px;
	background-color: #f59942;
	border-top-left-radius: 5%;
	border-top-right-radius: 45%;
	border-bottom-right-radius: 45%;
	border-bottom-left-radius: 5%;
	transform: rotate(-5deg);
	position: relative;
	top: 35px;
	left: 57px;
}

.rubber-ducky-eye {
	width: 18px;
	height: 18px;
	background-color: #ffffff;
	border: 3px solid #3b3937;
	border-radius: 50%;
	position: relative;
	left: 32px;
	top: 5px;
}

.rubber-ducky-pupil {
	width: 2px;
	height: 2px;
	background-color: #ffffff;
	border: solid #3b3937;
	border-width: 7px 5px 2px 5px;
	border-radius: 50%;
	position: relative;
	left: 3px;
	top: 1px;
}

.rubber-ducky-body {
	width: 150px;
	height: 70px;
	background-color: #f5d142;
	border-top-left-radius: 10%;
	border-top-right-radius: 47%;
	border-bottom-right-radius: 33%;
	border-bottom-left-radius: 50%;
	transform: rotate(2deg);
	box-shadow: -2px 0px 3px #363432;
	cursor: pointer;
}

.rubber-ducky-wing {
	width: 50px;
	height: 25px;
	background-color: #f5d142;
	border: 0px solid #f59942;
	position: relative;
	left: 30%;
	top: 30%;
	border-top-left-radius: 10%;
	border-top-right-radius: 47%;
	border-bottom-right-radius: 33%;
	border-bottom-left-radius: 50%;
	transform: rotate(3deg);
	box-shadow: -2px 1px 3px #363432;
	z-index: 3;
}
